# OpenAI API Key
OPENAI_API_KEY="sk-..."

# Replicate API Key
REPLICATE_API_TOKEN="r8_..."

# [Xata] Configuration used by the CLI and the SDK
# Make sure your framework/tooling loads this file on startup to have it available for the SDK
XATA_BRANCH="main"
XATA_API_KEY="xau_..."
